.resume-big {
    display: flex;
    justify-content: center;
}

.download-container{
    display: flex;
    justify-content: end;
}

.download {
    font-size: 25px;
    color: var(--light);
    background-color: var(--green);
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
    margin-right: 135px;
    margin-bottom: 50px;
}
.download:hover {
    color: var(--green);
    background-color: var(--soft-green);
}

.skills-container {
    display: flex;
    justify-content: center;
}

.skills-left {
    margin-right: 40px;
}

.skills-left h2, .skills-right h2 {
    color: white;
    background-color: var(--green);
    padding: 5px;
    border-radius: 8px;
}

.skills-right {
    margin-left: 40px;
}

/* .resume-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.resume-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
}

.resume-body {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-right: 35px;
    margin-bottom: 50px;
}

.resume-education {
    width: 100%;
}

.resume-sidebar {
    width: 20%;
}

.resume-portrait {
    height: 90px;
}

.bold {
    font-weight: bold;
}

.timeline {
    color: rgb(102, 102, 102);
    font-style: italic;
} */


@media screen and (max-width: 480px) {
    .resume-header {
        display: none;
    }

    .resume-page {
        display: none;
    }

    .download-container {
        justify-content: center;
    }

    .download {
        margin: 0;
    }
}