.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.form-container {
    text-align: center;
    width: 400px;
}

.contact-container div{
    margin-top: 20px;
}

.form-section textarea {
    height: 100px;
    resize: none;
}

.form-button {
    background-color: var(--green);
    color: var(--light);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
}
.form-button:hover {
    color: var(--green);
    background-color: var(--soft-green);
}

.error {
    color: red;
    font-size: 20px;
}

.thanks {
    font-size: 20px;
}


@media screen and (max-width: 480px) {
    .contact-container {
        margin-top: 30px;
    }
    .form-container {
        width: 100%;
    }
}