:root {
	--light: #ffffff;
    --font: #000000;
    --retro-green: #3a8256;
    --retro-yellow: #f3b73e;
    --retro-bg: #fcf8e4;
    --green: #107c41;
    --soft-green: #b5d8b8;
    --project-radius: 18px;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--light);
}

/* links */

.link {
    color: var(--font);
    text-decoration: none;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

.initials {
    color: var(--light);
    background-color: var(--green);
    border-radius: 50%;
    font-size: 40px;
    padding: 12px;
    margin: 20px;
}
.initials:hover {
    color: var(--green);
    background-color: var(--soft-green);
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

nav div {
    margin-right: 50px;
    font-size: 18px;
}
nav div:hover {
    color: var(--green);
}

/* home */

.home {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.home-text {
    width: 45%;
    padding: 200px 50px 200px 200px;
    text-align: center;
}

.home-image {
    /* width: 45%; */
    /* margin-top: 50px;
    margin-right: 250px; */
    margin: 108px 250px 0 50px;
}

.home-image img {
    height: 500px;
    border-radius: 50%;
    /* border-style: solid;
    border-width: 40px;
    border-image: repeating-linear-gradient(45deg, #3a8256 0%, #f3b73e 10%) 1; */
}

.home-text h2 {
    font-size: 100px;
    margin: 0;
}

.home-text h3 {
    font-size: 50px;
    margin: 0;
}

.home-text p {
    border-top: 1px solid var(--font);
    padding-top: 20px;
    margin-top: 20px;
}

/* about */

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.about-text-container {
    width: 45%;
    text-align: center;
    margin-right: 30px;
}

.about-text-container h2 {
    font-size: 50px;
    border-bottom: 1px solid var(--font);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.about-text-container p {
    margin-bottom: 30px;
}

.portrait-container {
    width: 20%;
}

.portrait {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid var(--font);
    margin-left: 15px;
}





/* projects */

.project-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.project-image-container {
    display: flex;
    justify-content: end;
    width: 45%;
}

.project-image {
    height: 250px;
    border-radius: 10px;
    margin-right: 30px;
}

.project-text-container {
    width: 45%;
}

.project-name {
    font-size: 40px;
}

/* 
.big-project-container {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.project-container {
    border: 1px solid var(--font);
    background-color: rgb(240, 240, 240);
    width: 32%;
    margin: 6px;
    border-radius: var(--project-radius);
}

.project-image {
    width: 100%;
    border-bottom: 1px solid black;
    border-top-right-radius: var(--project-radius);
    border-top-left-radius: var(--project-radius);
}

.project-name {
    text-align: center;
}

.project-text {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7px;
}

.project-text a {
    text-decoration: none;
    color: var(--green);
    font-size: 18px;
}
.project-text a:hover {
    color: var(--soft-green);
} */