:root {
	--light: #ffffff;
    --font: #000000;
    --retro-green: #3a8256;
    --retro-yellow: rgb(243, 183, 62);
    --retro-bg: #fcf8e4;
}

body {
    background-color: var(--light);
}

/* links */

.link {
    color: var(--font);
    text-decoration: none;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

.initials {
    color: var(--retro-yellow);
    background-color: var(--retro-green);
    border-radius: 50%;
    font-size: 40px;
    padding: 12px;
    margin: 20px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

nav div {
    margin-right: 50px;
}

/* home */

.home {
    display: flex;
    margin-top: 50px;
}

.home-text {
    width: 50%;
    padding: 200px 50px 200px 200px;
    text-align: end;
}

.home-image {
    /* width: 50%; */
    margin-top: 50px;
    margin-right: 250px;
}

.home-image img {
    height: 500px;
    border-style: solid;
    border-width: 80px;
    border-image: repeating-linear-gradient(45deg, #3a8256 0%, #f3b73e 10%) 1;
}

.home-text h2 {
    font-size: 100px;
    margin: 0;
}

.home-text h3 {
    font-size: 50px;
    margin: 0;
}

.home-text p {
    border-top: 1px solid var(--font);
    padding-top: 20px;
}

/* projects */

.big-project-container {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.project-row {
    /* border: 10px solid var(--retro-green);
    background-color: var(--retro-green); */
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}

.project-container {
    border: 1px solid var(--font);
    background-color: #869b8e;
    width: 32%;
    margin: 6px;
    padding: 5px;
}

.project-image {
    width: 100%;
    border: 1px solid black;
}

.project-name {
    text-align: center;
}

.project-text {
    display: flex;
    justify-content: space-around;
}

.project-text a {
    text-decoration: none;
    color: var(--retro-yellow);
}