:root {
	--light: #ffffff;
    --font: #000000;
    --green: #107c41;
    --soft-green: #b5d8b8;
    --project-radius: 18px;
}

* {
    font-family: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
    height: 95%;
}

body {
    background-color: var(--light);

    position: relative;
    margin: 0;
    min-height: 100%;
    box-sizing: inherit;
}

/* links */

.link {
    color: var(--font);
    text-decoration: none;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}

.initials {
    color: var(--light);
    background-color: var(--green);
    border-radius: 50%;
    font-size: 40px;
    padding: 8px 12px;
    margin: 20px;
}
.initials:hover {
    color: var(--green);
    background-color: var(--soft-green);
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

nav div {
    margin-right: 50px;
    font-size: 18px;
}
nav div:hover {
    color: var(--green);
}  

/* footer  */

.footer {
    display: flex;
    justify-content: center;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.footer div {
    margin: 0 10px;
}

.footer-image {
    height: 30px;
}